# ignore everything in the vivado project

/*

# except
## this .gitignore file
!.gitignore

## the project file itself
!/*.xpr

## waveform config files
!/*.wcfg

## vhdl (including sim sources), constraints
### (coefficients source files?)
!/*.srcs/

## safety checks below
## coefficient files
!/**.coe

## core generator files for block memory
!/**.xci
